In [1]:
import random
import sqlite3
from hashlib import blake2b
from importlib import reload
import pandas as pd
import library as lb

In [2]:
reload(lb)

### Create Sample Dataset
- load csv into pandas
- rename cols
- create uuid
- drop table
- create tables of 1000, 10,000, 100,000 and 400,000 rows

In [90]:
# load data
df = pd.read_csv("data/PPR-ALL.csv", encoding='latin-1')
# create uuid
df = df.rename(columns={
    'Date of Sale (dd/mm/yyyy)': 'date',
    'Address': 'address',
    'Postal Code': 'postcode',
    'County': 'county',
    'Price (\x80)': 'price',
    'Not Full Market Price': 'not_full_market_price',
    'VAT Exclusive': 'vat_exclusive',
    'Property Size Description': 'floor_area',
    'Description of Property': 'construction',
})

# create uuid for each
for row in df.itertuples():
    # hash_id_string = f"{row.date}{row.address}{row.price}"
    hash_id_string = f"{row.date}{row.address}{row.postcode}{row.county}{row.price}{row.not_full_market_price}{row.vat_exclusive}{row.floor_area}{row.construction}"
    df.at[row.Index, 'uuid'] = blake2b(bytes(hash_id_string, "utf-8"), digest_size=5).hexdigest()

# remove duplicates
df.drop_duplicates(inplace=True)


conn = sqlite3.connect('data/database.db')
cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS tb_basic_1000;")
cur.execute(f"DROP TABLE IF EXISTS tb_basic_10000;")
cur.execute(f"DROP TABLE IF EXISTS tb_basic_100000;")
cur.execute(f"DROP TABLE IF EXISTS tb_basic_400000;")

cur.execute(f"DROP TABLE IF EXISTS tb_index_1000;")
cur.execute(f"DROP TABLE IF EXISTS tb_index_10000;")
cur.execute(f"DROP TABLE IF EXISTS tb_index_100000;")
cur.execute(f"DROP TABLE IF EXISTS tb_index_400000;")

cur.execute(f"DROP TABLE IF EXISTS tb_unique_index_400000;")

df.head(1000).to_sql(name='tb_basic_1000', con=conn, index=False)
df.head(10000).to_sql(name='tb_basic_10000', con=conn, index=False)
df.head(100000).to_sql(name='tb_basic_100000', con=conn, index=False)
df.head(400000).to_sql(name='tb_basic_400000', con=conn, index=False)

df.head(400000).to_sql(name='tb_unique_index_400000', con=conn, index=False)
cur.execute(f'''CREATE UNIQUE INDEX "ix_tb_unique_index_400000_uuid" ON "tb_unique_index_400000" ("uuid")''')

df.set_index('uuid', inplace=True)
df.head(1000).to_sql(name='tb_index_1000', con=conn)
df.head(10000).to_sql(name='tb_index_10000', con=conn)
df.head(100000).to_sql(name='tb_index_100000', con=conn)
df.head(400000).to_sql(name='tb_index_400000', con=conn)

cur.close()
conn.close()

In [22]:
len(df)

468967

### Basic Update Using slqite

Get the database rows

In [6]:
conn = sqlite3.connect('data/database.db')
cur = conn.cursor()

rows_1000   = cur.execute("SELECT address,uuid FROM tb_basic_1000;").fetchall()
rows_10000  = cur.execute("SELECT address,uuid FROM tb_basic_10000;").fetchall()
rows_100000 = cur.execute("SELECT address,uuid FROM tb_basic_100000;").fetchall()
rows_400000 = cur.execute("SELECT address,uuid FROM tb_basic_400000;").fetchall()

cur.close()
conn.close()

In [ ]:
sample_100000 = random.sample(rows_100000, 1000)

- update 1000 rows in 1000 row db
- update 1000 rows in 10,000 row db
- update 1000 rows in 100,000 row db

### Basic

In [7]:
update_address_sql = '''UPDATE tb_basic_1000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [8]:
update_address_sql = '''UPDATE tb_basic_10000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [9]:
update_address_sql = '''UPDATE tb_basic_100000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [10]:
update_address_sql = '''UPDATE tb_basic_400000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

### Indexed

In [47]:
update_address_sql = '''UPDATE tb_index_1000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [48]:
update_address_sql = '''UPDATE tb_index_10000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [49]:
update_address_sql = '''UPDATE tb_index_100000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [50]:
update_address_sql = '''UPDATE tb_index_400000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [51]:
update_address_sql = '''UPDATE tb_index_400000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_400000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

### Primary Key

In [59]:
update_address_sql = '''UPDATE tb_basic_1000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [62]:
update_address_sql = '''UPDATE tb_basic_400000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [46]:
update_address_sql = '''UPDATE tb_basic_100000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_100000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

In [58]:
update_address_sql = '''UPDATE tb_basic_400000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_1000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

### UNIQUE Indexed

In [18]:
update_address_sql = '''UPDATE tb_unique_index_400000 SET address=? WHERE uuid=?'''
conn = sqlite3.connect('data/database.db')
with conn:
    cur = conn.cursor()
    for row in rows_400000:
        statement_payload = (row[0].lower(), row[1])
        cur.execute(update_address_sql, statement_payload)
    cur.close()
conn.close()

### Pandas

### .apply() - updates all rows

In [77]:
table = "tb_basic_1000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)
df['address'] = df['address'].apply(lambda x: x.upper())
cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

In [78]:
table = "tb_basic_10000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)
df['address'] = df['address'].apply(lambda x: x.upper())
cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

In [79]:
table = "tb_basic_100000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)
df['address'] = df['address'].apply(lambda x: x.upper())
cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

In [80]:
table = "tb_basic_400000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)
df['address'] = df['address'].apply(lambda x: x.upper())
cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

### update 1000 rows: loc

In [81]:
table = "tb_basic_1000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

for row in rows_1000:
    df.loc[df['uuid'] == row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

In [82]:
table = "tb_basic_10000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

for row in rows_1000:
    df.loc[df['uuid'] == row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

In [83]:
table = "tb_basic_100000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

for row in rows_1000:
    df.loc[df['uuid'] == row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

In [84]:
table = "tb_basic_400000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

for row in rows_1000:
    df.loc[df['uuid'] == row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn, index=False)
cur.close()
conn.close()

### update 1000 rows: set index and at

In [99]:
table = "tb_basic_1000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

df.set_index('uuid', inplace=True)
for row in rows_1000:
    df.at[row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn)
cur.close()
conn.close()

In [100]:
table = "tb_basic_10000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

df.set_index('uuid', inplace=True)
for row in rows_1000:
    df.at[row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn)
cur.close()
conn.close()

In [101]:
table = "tb_basic_100000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

df.set_index('uuid', inplace=True)
for row in rows_1000:
    df.at[row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn)
cur.close()
conn.close()

In [102]:
table = "tb_basic_400000"
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query(f'''SELECT * FROM {table}''', conn)

df.set_index('uuid', inplace=True)
for row in rows_1000:
    df.at[row[1], 'address'] = row[0].upper()

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS {table};")
df.to_sql(name=table, con=conn)
cur.close()
conn.close()

### Scratchpad