In [1]:
import os
import pandas as pd
import re
import sqlite3
from hashlib import blake2b

In [5]:
import os
os.chdir('../')

In [6]:
os.getcwd()

'/Users/br20069521/Desktop/Date-Dump/21-03-07/code_scratchpad/blog/parsing-the-property-price-register-part-1'

In [11]:
from src import extract as ex
from src import parse as pr
from src import normalise as nm

### Prepare Data

In [2]:
# load data
df = pd.read_csv("../data/raw/PPR-ALL.csv", encoding='latin-1')
# create uuid
df = df.rename(columns={
    'Date of Sale (dd/mm/yyyy)': 'date',
    'Address': 'address',
    'Postal Code': 'postcode',
    'County': 'county',
    'Price (\x80)': 'price',
    'Not Full Market Price': 'not_full_market_price',
    'VAT Exclusive': 'vat_exclusive',
    'Property Size Description': 'floor_area',
    'Description of Property': 'construction',
})

# create uuid for each
for row in df.copy().itertuples():
    # hash_id_string = f"{row.date}{row.address}{row.price}"
    hash_id_string = f"{row.date}{row.address}{row.postcode}{row.county}{row.price}{row.not_full_market_price}{row.vat_exclusive}{row.floor_area}{row.construction}"
    df.at[row.Index, 'uuid'] = blake2b(bytes(hash_id_string, "utf-8"), digest_size=5).hexdigest()

# remove duplicates
df.drop_duplicates(inplace=True)

df.set_index('uuid', inplace=True)

/Users/br20069521/Desktop/Date-Dump/21-03-07/code_scratchpad/blog/parsing-the-property-price-register-part-1/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
db_url = "../data/database.db"
conn = sqlite3.connect(db_url)
cur = conn.cursor()
df.to_sql('ppr_all', conn)
cur.close()
conn.close()

### Create tempoary data table

In [13]:
conn = sqlite3.connect('../data/database.db')
df = pd.read_sql_query('SELECT * FROM ppr_all', conn)
df.set_index('uuid', inplace=True)

df = df.drop(["date","price","not_full_market_price","construction","floor_area","vat_exclusive"], axis=1)
df.insert(3, 'ex_eircode', None)
df.insert(3, 'ex_county', None)
df.insert(3, 'ex_postcode', None)
df.insert(3, 'address_mod', None)
df.address_mod = df.address.str.lower()


cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS temp;")
df.to_sql('temp', conn)
cur.close()
conn.close()

In [14]:
df

,address,postcode,county,address_mod,ex_postcode,ex_county,ex_eircode
uuid,,,,,,,
b306a21836,"5 Braemor Drive, Churchtown, Co.Dublin",None,Dublin,"5 braemor drive, churchtown, co.dublin",None,None,None
42e8eed8ad,"134 Ashewood Walk, Summerhill Lane, Portlaoise",None,Laois,"134 ashewood walk, summerhill lane, portlaoise",None,None,None
7b08b5e03d,"1 Meadow Avenue, Dundrum, Dublin 14",None,Dublin,"1 meadow avenue, dundrum, dublin 14",None,None,None
2352e180f5,"1 The Haven, Mornington",None,Meath,"1 the haven, mornington",None,None,None
cbac7ce7bd,"11 Melville Heights, Kilkenny",None,Kilkenny,"11 melville heights, kilkenny",None,None,None
...,...,...,...,...,...,...,...
b39bcc2471,"CROSSNEEN, GRAIGUECULLEN, CARLOW",None,Laois,"crossneen, graiguecullen, carlow",None,None,None
b65b929588,"GORTADERRA, SCARRIFF, CLARE",None,Clare,"gortaderra, scarriff, clare",None,None,None
3e02f239ba,"HALSEYRATH, DUNCORMICK, WEXFORD",None,Wexford,"halseyrath, duncormick, wexford",None,None,None
b99e66ddea,"RIVERSIDE, BEHEENAGH, KNOCKNAGOSHEL",None,Kerry,"riverside, beheenagh, knocknagoshel",None,None,None
fe602cd8ea,"SMEAR, AUGHNACLIFFE, LONGFORD",None,Longford,"smear, aughnacliffe, longford",None,None,None

---

### Load data and extract/remove eircode

In [2]:
conn = sqlite3.connect('../data/database.db')
df = pd.read_sql_query('SELECT * FROM temp;', conn)
df.set_index('uuid', inplace=True)

df

,address,postcode,county,address_mod,ex_postcode,ex_county,ex_eircode
uuid,,,,,,,
b306a21836,"5 Braemor Drive, Churchtown, Co.Dublin",None,Dublin,"5 braemor drive, churchtown, co.dublin",None,None,None
42e8eed8ad,"134 Ashewood Walk, Summerhill Lane, Portlaoise",None,Laois,"134 ashewood walk, summerhill lane, portlaoise",None,None,None
7b08b5e03d,"1 Meadow Avenue, Dundrum, Dublin 14",None,Dublin,"1 meadow avenue, dundrum, dublin 14",None,None,None
2352e180f5,"1 The Haven, Mornington",None,Meath,"1 the haven, mornington",None,None,None
cbac7ce7bd,"11 Melville Heights, Kilkenny",None,Kilkenny,"11 melville heights, kilkenny",None,None,None
...,...,...,...,...,...,...,...
b39bcc2471,"CROSSNEEN, GRAIGUECULLEN, CARLOW",None,Laois,"crossneen, graiguecullen, carlow",None,None,None
b65b929588,"GORTADERRA, SCARRIFF, CLARE",None,Clare,"gortaderra, scarriff, clare",None,None,None
3e02f239ba,"HALSEYRATH, DUNCORMICK, WEXFORD",None,Wexford,"halseyrath, duncormick, wexford",None,None,None
b99e66ddea,"RIVERSIDE, BEHEENAGH, KNOCKNAGOSHEL",None,Kerry,"riverside, beheenagh, knocknagoshel",None,None,None
fe602cd8ea,"SMEAR, AUGHNACLIFFE, LONGFORD",None,Longford,"smear, aughnacliffe, longford",None,None,None

In [9]:
for row in df.copy().itertuples():
    eircode = ex.extract_eircode_from_end_of_address(row.address_mod)
    if eircode is not None:
        df.at[row.Index, 'ex_eircode'] = eircode
        df.at[row.Index, 'address_mod'] = pr.parse_address_of_eircode(row.address_mod)

In [10]:
cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS temp;")
df.to_sql('temp', conn)
cur.close()
conn.close()

### Normalise County

In [13]:
conn = sqlite3.connect('data/database.db')
df = pd.read_sql_query('SELECT * FROM temp;', conn)
df.set_index('uuid', inplace=True)

df.address_mod = df.address_mod.apply(nm.normalise_county_name)

cur = conn.cursor()
cur.execute(f"DROP TABLE IF EXISTS temp;")
df.to_sql('temp', conn)
cur.close()
conn.close()